<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Gerencimento de Clientes</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="<?php echo $this->baseUrl(); ?>" />
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,500' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="<?php echo $this->baseUrl(); ?>/css/bootstrap.min.css" />
    <link rel="stylesheet" href="<?php echo $this->baseUrl(); ?>/css/font-awesome.min.css" />
	<link rel="stylesheet" href="<?php echo $this->baseUrl(); ?>/css/styles.css" />
    <script src="<?php echo $this->baseUrl(); ?>/js/jquery.min.js"></script>
 	<script src="<?php echo $this->baseUrl(); ?>/js/jquery.mask.min.js"></script>
 	<script src="<?php echo $this->baseUrl(); ?>/js/bootstrap.min.js"></script>
 	<script src="<?php echo $this->baseUrl(); ?>/js/scripts.js"></script>
  </head>

  <body>
    
    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">CRUD de Clientes</a>
        </div>
        
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="<?php echo $this->baseUrl(); ?>/clientes">Clientes</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>


    <div class="container">
		<?php echo $this->layout()->content ?>
    </div> <!-- /container -->
    <footer class="footer">
      <div class="container">
        <p class="text-muted text-center">Desenvolvido por <a target="_blank" href="https://github.com/ViniciusAugusto">Vinicius Augusto Cunha</a></p>
      </div>
    </footer>
  </body>
</html>