<h1>
	Gerenciamento de Clientes 
	<a class="btn btn-success pull-right" href="<?php echo $this->url(array('action' => 'create')); ?>">
		Adicionar <i class="fa fa-plus" aria-hidden="true"></i>
	</a>
</h1>

<?php $this->mensagem(); ?>


<table class="table table-bordered table-responsive">
  <thead>
    <tr>
      <td>#</td>
      <td>Nome</td>
      <td class="text-center">Data de Nascimento</td>
      <td>Cidade/Estado</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
      <?php foreach ($this->clientes as $cliente) { ?>
        <tr>
          <td><?php echo $cliente['id']; ?></td>
          <td><?php echo $cliente['nome_completo']; ?></td>
          <td class="text-center">
          <?php 
          //converte a data para formato YYYY-MM-dd
          $date = new Zend_Date($cliente['data_nascimento']);
          echo $date->get('dd/MM/YYYY');
          ?>
          </td>
          <td><?php echo $cliente['cidade']; ?>/<?php echo $cliente['estado']; ?></td>
          <td>
            <a title="Clique aqui para editar" class="btn btn-info" href="<?php echo $this->url(array('action' => 'update', 'id' => $cliente['id'])); ?>">Editar <i class="fa fa-pencil" aria-hidden="true"></i></a>
            <a title="Clique aqui para apagar" class="btn btn-danger" href="<?php echo $this->url(array('action' => 'delete', 'id' => $cliente['id'])); ?>">Apagar <i class="fa fa-trash"></i></a>
          </td>
        </tr>
    <?php } ?>
  </tbody>
</table>